
<div class="container bg-primary mt-0 "  style="width: 550px; height: 700px;">
 <span class="margin"> Register Your Account</span>

<div class="container">
<form [formGroup]='myform' (ngSubmit)="login()">

  <div class="form-group ">
    <label for="exampleInputName" class="text-dark">Name</label>
    <input type="text" class="form-control" placeholder="Enter Your Full name..."  formControlName='name' name='name'>
    <span style="color: red;" *ngIf="name?.invalid && name?.touched">Please insert valid Name</span>
  </div>
<!-- ================================= -->
<div class="form-group">
  <label for="exampleInputUsername  mt-5">Username</label>
  <input type="text" class="form-control" placeholder="Enter Your Username..." formControlName='username' name='username'>
  <span style="color: red;" *ngIf="username?.invalid && username?.touched">Please insert valid Username</span>
</div>
<!-- ========================================= -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  placeholder="Enter Your email address..."formControlName='email' name='email'>
      <span style="color: red;" *ngIf="email?.invalid && email?.touched">Please insert valid email</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder="Enter Your Password..."formControlName='pass' name='pass'>
      <span style="color: red;" *ngIf="pass?.invalid && pass?.touched">Please insert valid Pasword</span>
    </div>

    <!-- =========================================== -->
    <div class="form-group">
      <label for="exampleInputPassword2">Confirm Password</label>
      <input (input)=" passValidaton()" type="password" class="form-control"  placeholder="Enter Your Password again..." formControlName='cpass' name='cpass'>
      <span style="color: red;" *ngIf="cpass?.invalid && cpass?.touched || flag">Password does't Match</span>
    </div>
    
    <button [disabled]="!myform?.valid || flag2" type="submit" class="btn btn-success btn-sm btn-block ">Submit</button>
   
    <div class="form-group mt-2 ml-5" >
     
      <p>Alerdy have an account ?<a href="">Sign in. </a></p>
    </div>
   
  </form>
</div>

</div>


<!-- <h1>{{myform.value|json}}</h1> -->