<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div >
  <div class="col-md-12">
    <a routerLink="addemployee" data-toggle="modal" data-target="#exampleModal" class="nav-link btn btn-outline-info"
      href="#">Add Employee</a>
  </div>
</div>
<router-outlet></router-outlet>